/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
ul.nav,.jumbotron h1{
    font-family:'Arvo','Courier New' serif;
}
.jumbotron{
    text-align:center;
    background: url('../Images/Vancouver.JPG') repeat center center fixed;
    background-size:cover;
    color:white;
}
.jumbotron h1{
    margin-top:0px;
    margin-bottom:50px;
}
.jumbotron p{
    margin-bottom:30px;
    font-weight:100;
    padding:0px 50px;
}
.btn-lg{
    font-size:24px;
}
ul.nav{
    font-size:13px;
}
footer{
    background-color:#E74c3c;
    padding-top:150px;
    padding-bottom:30px;
}
#get-involved{
    background-color:#dedede;
}
.homepage{
    text-align: center;
    padding-top:40px;
    padding-bottom:50px;
}
.homepage h2, .homepage h3{
    color: #e74c3c;
    font-family: 'Arvo', courier, serif;
    text-transform:uppercase;
}
.homepage h2{
    font-size:30px;
}
.homepage h3{
    font-size:26px;
}
.homepage p{
    font-weight:300;
    font-size:21px;
}
.homepage a{
    color:#e74c3c;
}

.homepage a:hover{
    text-decoration:none;
    color:#e74c3c;
    opacity:.8;
}
.homepage hr{
     border: 1px solid #e74c3c;
     width: 150px;
     margin-top:15px;
 }
/*.btn btn-default{
    background-color:#e74c3c;
}*/
/*Responsive Styling*/
@media (max-width: 1199px) {
    .jumbotron h1{
        font-size:56px;
        padding:30px;
    }
}

@media (max-width: 991px) {
    .jumbotron h1{
        font-size:44px;
    }

    .jumbotron p{
        padding:0 10px;
    }

    #get-involved .col-md-4{
        padding-top:20px;
        padding-bottom:20px;
    }
}

@media (max-width: 767px) {
    .jumbotron h1{
        font-size:24px;
    }

    .jumbotron p{
        padding:0;
        font-size:16px;
    }

    .btn-lg{
        font-size:18px;
    }

    .homepage p{
        font-size:18px;
    }

    #get-involved .col-md-4{
        padding-top:20px;
        padding-bottom:20px;
    }
    footer img{
        width:80%;
    }
}